In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)
pd.option_context("display.max_colwidth",None)

In [24]:
df = pd.read_csv(r"C:\Users\Promise Philip\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv",sep=',' , encoding='latin-1')
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [17]:
df.describe().round(2)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.00,60943.00,60943.00,59354.00,59395.00,59408.00,59437.00,59507.00
mean,134.27,2687.18,3814.86,134.20,135.24,136.56,140.92,143.76
std,72.61,146.06,2212.01,1567.66,1603.40,1640.01,1671.86,1710.78
min,4.00,2501.00,511.00,-1796.00,-3161.00,-3225.00,-1582.00,-3396.00
25%,74.00,2562.00,684.00,0.00,0.00,0.00,0.00,0.00
50%,136.00,2630.00,5142.00,0.09,0.08,0.08,0.10,0.07
75%,195.00,2775.00,5511.00,8.34,8.46,8.43,9.00,9.00
max,276.00,2961.00,5911.00,176405.00,181137.00,185960.00,190873.00,195875.00

In [18]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age','Nationality','Overall']

pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [19]:
df.corr()

C:\Users\Promise Philip\AppData\Local\Temp\ipykernel_1056\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [20]:

S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [22]:
df.groupby('Element').sum()

C:\Users\Promise Philip\AppData\Local\Temp\ipykernel_1056\530698697.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [29]:
df.groupby('Area')['Y2015'].sum()

Area
Algeria                         324058.40
Angola                          209565.67
Benin                           108181.13
Botswana                         23024.85
Burkina Faso                    102701.22
Cabo Verde                       14538.93
Cameroon                        225220.72
Central African Republic         28885.34
Chad                             65835.88
Comoros                             41.34
Congo                            40255.51
Côte d'Ivoire                   211591.29
Djibouti                         23690.16
Egypt                           868218.73
Eswatini                         54072.07
Ethiopia                        429139.33
Ethiopia PDR                         0.00
Gabon                            28367.30
Gambia                           19665.39
Ghana                           311092.13
Guinea                           92803.39
Guinea-Bissau                    17990.06
Kenya                           265506.19
Lesotho                          17965.84
Liberia                          28698.10
Madagascar                      126674.90
Malawi                          167989.09
Mali                            132456.58
Mauritania                       61909.99
Mauritius                        53372.42
Morocco                         412473.80
Mozambique                      158231.17
Namibia                          30687.90
Niger                           117834.65
Nigeria                        1414362.83
Rwanda                           70138.83
Sao Tome and Principe            12386.93
Senegal                          91939.14
Seychelles                         358.20
Sierra Leone                     62523.14
South Africa                    468352.18
Sudan                           230652.54
Sudan (former)                       0.00
Togo                             47834.59
Tunisia                         128211.41
Uganda                          220615.72
United Republic of Tanzania     341969.46
Zambia                           96214.00
Zimbabwe                         74041.79
Name: Y2015, dtype: float64

In [28]:
df.groupby('Area')['Y2017'].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [26]:
area_list = df['Area'].to_list()
st = set(area_list)
len(st)

49

In [ ]:
percent_missing = (df.isnull().sum()*100) / len(df)
df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
print(df)

               column_name  percent_missing
Area Code        Area Code         0.000000
Area                  Area         0.000000
Item Code        Item Code         0.000000
Item                  Item         0.000000
Element Code  Element Code         0.000000
Element            Element         0.000000
Unit                  Unit         0.000000
Y2014                Y2014         2.607354
Y2015                Y2015         2.540078
Y2016                Y2016         2.518747
Y2017                Y2017         2.471162
Y2018                Y2018         2.356300

In [ ]:
df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [33]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [ ]:
alg = df.groupby(['Area', 'Element']).sum()
alg.head(10)

                                             Area Code  Item Code  \
Area    Element
Algeria Domestic supply quantity                   464     311204
        Export Quantity                            392     264011
        Fat supply quantity (g/capita/day)         432     291489
        Feed                                        88      58967
        Food                                       420     282744
        Food supply (kcal/capita/day)              432     291489
        Food supply quantity (kg/capita/yr)        420     282744
        Import Quantity                            448     301030
        Losses                                     208     139857
        Other uses (non-food)                      148     101269

                                             Element Code     Y2014     Y2015  \
Area    Element
Algeria Domestic supply quantity                   614916  83755.94  85972.86
        Export Quantity                            579278   1328.64   1104.62
        Fat supply quantity (g/capita/day)          73872    320.19    317.40
        Feed                                       121462   9656.04  10308.00
        Food                                       539910  60582.69  61693.49
        Food supply (kcal/capita/day)               71712  13500.00  13512.00
        Food supply quantity (kg/capita/yr)         67725   1556.45   1552.81
        Import Quantity                            628432  34940.12  37841.91
        Losses                                     266396   7231.00   7471.00
        Other uses (non-food)                      190698   3315.22   3483.37

                                                Y2016     Y2017     Y2018
Area    Element
Algeria Domestic supply quantity             87157.61  86810.42  90023.42
        Export Quantity                       1340.22   1494.54    811.54
        Fat supply quantity (g/capita/day)     309.54    320.74    309.09
        Feed                                  9903.00   9571.00  10668.00
        Food                                 63081.43  62785.33  63736.33
        Food supply (kcal/capita/day)        13483.00  13363.00  13288.00
        Food supply quantity (kg/capita/yr)   1555.77   1516.94   1509.28
        Import Quantity                      36736.08  36059.29  36238.29
        Losses                                7405.00   7428.00   7708.00
        Other uses (non-food)                 3400.17   3534.08   3970.08